* {
    font-family: "Lato", sans-serif;
    margin: 0;

    --cor-tema: #38ca7d;
    --cor-link: #48c6ef;
    --cor-fundo: #f6f6f6;
}

/* NAV BAR */
nav#nav {
    color: #ffffff;
    background-color: var(--cor-tema);
    height: 5em;

    display: flex;
    align-items: center;
    gap: 3%;
    padding-left: 3%;
}

#nav img {
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    max-width: 80px;
    max-height: 65px;
}